.App {
  background-color: rgb(243, 237, 237);
  border: 2px solid black;
  max-width: 1200px;
  padding: 10px;
  margin: 50px 180px;
  display: flex;
}

.home-page {
  border: 2px solid blue;
  width: 50%;
  padding: 10px
}

.search-input {
  width: 98%;
  height: 30px;
  border: 2px solid green;
  margin-top: 2px;
  margin-bottom: 2px
}

.employee-page {
  padding: 10px;
  width: 50%;
  border: 2px solid brown;
  margin-left: 5px
}
@media (max-width: 599px){
  .employee-page {
    padding: 5px;
    width: 95%;
  
  }
  .home-page {
    padding: 5px;
    width: 95%;
  
  }
}
@media (max-width: 599px){
  .employee-page {
    padding: 5px;
    width: 95%;
  
  }
}

.emp-list {
  border: 2px solid purple;
  padding: 2px;
}



.Employee_Directory {
  border: solid rgb(41, 12, 12);
  background-color: rgb(16, 209, 145);
  padding: 5px;
  text-align: center;
  display: flex;


}

.emp-item {
  display: flex;
  border: 2px solid red;
  margin-top: 2px
}

.emp-detail{
  border: 1px solid black;
   margin: 20px
}
.emp-detail-header{
  display: flex;
   border: 1px  solid black
}

.emp-detail-contact{
 padding: 5px;
  border: 1px  solid black;
   display: flex;
    justify-content: space-between
  }
*{margin:0; padding:0}


.navbar{
  display: flex;
  justify-content: space-between;
  background: #797fa0;
  padding: 10px 16px;
}
.navbar-logo{
  color:white;
  font-size: 20px;
  
}
.navbar-menu{
  display: flex;
  color:white;
  list-style: none;
  gap: 30px;
  margin: 0;
  align-items: center;
}
a{
  color: white;
      text-decoration: none;
}
a:link{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
}
.employees{
  display: flex;
}
@media (max-width :599px){
  .employees{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
